<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
	</head>
	<body>
		<div class="eshop-section section" th:fragment="content">
			<div class="container">
				<div class="row">
	    			<div class="col-sm-5">
	    				<div class="product-image-large">
	    					<div class="ribbon-wrapper-detail" style="display: none;">
								<div class="price-ribbon ribbon-red">Ended</div>
							</div>
	    					<img th:src="@{'/image/' + ${item.itemThumbnail}}" th:alt="${item.itemTitle}" />
	    				</div>
	    			</div>
	    			<div class="col-sm-7 product-details">
	    				<h3 th:text="${item.itemTitle}">Item title</h3>
	    				<h5>ID: <span class="product-id" th:attr="data-item-id = ${item.id}" th:text="${item.id}">ID</span></h5>
	    				<p><b>Seller:</b> <a th:href="@{#}" class="seller" th:text="${item.account.email}" th:attr="data-seller = ${item.account.id}">Seller</a></p>
	    				<p>
	    					<input id="rating" th:value="${item.account.trust}" type="number" class="rating" min="0" max="10" step="1" data-size="ss" data-stars="10" />
	    					Ratings: <span th:text="${item.account.trust}">Rating</span>/10 from <span class="total-user">Total user</span> users 
	    				</p>
						<table class="shop-item-selections">
							<tr>
								<td>Start bid:</td>
								<td><span th:text="${#calendars.format(item.bidStartDate,'dd/MM/yyyy')}">Date</span> at <span th:text="${#calendars.format(item.bidStartDate,'HH:mm')}">Hour</span></td>
							</tr>
							<tr>
								<td>End bid:</td>
								<td><span th:text="${#calendars.format(item.bidEndDate,'dd/MM/yyyy')}">Date</span> at <span th:text="${#calendars.format(item.bidEndDate,'HH:mm')}">Hour</span></td>
							</tr>
							<tr>
								<td>Time left:</td>
								<td>
									<i class="glyphicon glyphicon-time"></i> <span class="time-count" th:attr="data-countdown = ${#calendars.format(item.bidEndDate,'yyyy/MM/dd HH:mm:ss')}">Count down</span>
								</td>
							</tr>
							<tr class="price-old">
								<td>$<span th:text="${item.currentBid}">Current bid</span></td>
								<td>
									<a th:href="@{#}" class="current-member">Current Member</a> <span class="badge" th:text="${item.bidCounts}">Total bid</span>
								</td>
							</tr>
							<tr>
								<td class="price">$<span th:text="${item.currentBid + item.bidIncremenent}">Current bid</span></td>
								<td>
									<button class="btn btn-small btn-bid" th:attr="data-price = ${item.currentBid + item.bidIncremenent}">Bid</button>
								</td>
							</tr>
						</table>
	    			</div>
	    			<div class="col-sm-12">
	    				<div class="tabbable">
							<ul class="nav nav-tabs product-details-nav">
								<li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
								<li><a href="#tab2" data-toggle="tab">Pictures</a></li>
							</ul>
							<div class="tab-content product-detail-info">
								<div class="tab-pane active" id="tab1">
									<h4>Product Description</h4>
									<p>muahaaaaa</p>
								</div>
								<div class="tab-pane" id="tab2">
									ssd
								</div>
							</div>
						</div>
	    			</div>
	    		</div>
			</div>
			<script type="text/javascript">
				var finalDate = $('.time-count').data('countdown');
				$('.time-count').countdown(finalDate, function(event) {
					$(this).html(event.strftime('%D days %H:%M:%S'));
				}).on('finish.countdown', function(event) {
					$(this).html('Ended');
					$('.ribbon-wrapper-detail').show();
					$('.btn-bid').addClass('disabled');
				});
				$(function() {
					var itemId = $('.product-id').data('item-id');
					var accountId = $('.seller').data('seller');
					$.ajax({
						type: "POST",
						url: "../../bid/list-bid",
						data: {id : itemId},
						success: function(response) {
							var member = '';
							var i = 0;
							$.each(response, function(key, value) {
								if(value.maximumBid > i) {
									member = value.account.email;
									i = value.maximumBid;
								};
							});
							$('.current-member').html(member);
						}
					});
					$.ajax({
						type: "POST",
						url: "../../rating/count",
						data: {accountId : accountId},
						success: function(response) {
							$('.total-user').html(response);
						}
					});
				});
				$('.btn-bid').click(function() {
					var price = $(this).data('price');
					$.ajax({
						type: "POST",
					    url: "../../check",
						success : function(response) {
							if(response == true) {
								$.confirm({
							        text: "You want to bid with price $" + price,
							        confirm: function(button) {
							        	acceptBid(price);
							        },
							        cancel: function(button) {
							            return false;
							        },
							        cancelButton: "No"
							    });
							} else {
								$.confirm({
							        text: "Please login before to bid.",
							        confirm: function(button) {
							        	window.location.href = "../../account/login";
							        },
							        cancel: function(button) {
							            return false;
							        },
							        confirmButton: "Login"
							    });
							}
						},
						error : function(e) {
							alert('Error: ' + e);
						}
					});
				});
				function acceptBid(price) {
					var itemId = $('.product-id').data('item-id');
					$.ajax({
						type: "POST",
						url: "../../bid/accept-bid",
						data: {price : price, itemId : itemId},
						success: function(response) {
							var msg = 'You bid fail.';
							if(response == true) {
								msg = 'You bid successful';
							};
							alert(msg);
						},
						error: function(e) {
							alert("Error: " + e);
						}
					});
				};
				$('#rating').on('rating.change', function(event, value, caption) {
					var accountId = $('.seller').data('seller');
					$.ajax({
						type: "POST",
					    url: "../../check",
						success : function(response) {
							if(response == true) {
								$.ajax({
									type: "POST",
									url: "../../rating/rating",
									data: {point : value, accountId : accountId},
									success: function(response) {
										var msg = 'You rating fail.';
										if(response == true) {
											msg = 'You rating successful';
										};
										alert(msg);
									},
									error: function(e) {
										alert("Error: " + e);
									}
								});
							} else {
								$.confirm({
							        text: "Please login before rating for this seller.",
							        confirm: function(button) {
							        	window.location.href = "../../account/login";
							        },
							        cancel: function(button) {
							        	$('#rating').rating('reset');
							        },
							        confirmButton: "Login"
							    });
							}
						},
						error : function(e) {
							alert('Error: ' + e);
						}
					});
				});
			</script>
		</div>
	</body>
</html>