<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<title>Online Auction</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-2.2.1.min.css}" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin-site.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrapValidator.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" />
		
		<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.3.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/jquery.confirm.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrapValidator.js}"></script>
		<script type="text/javascript" th:src="@{/resources/ckeditor/ckeditor.js}"></script>
	</head>
	<body>

		<div class="container">
			<div th:replace="layout/admin_navbar_top :: navbar">Navigation bar</div>
			<div class="row">
				<div class="span2">
					<div th:replace="layout/admin_navbar_left :: navleft">Navigation left</div>
				</div>
				<div th:replace="${layout} :: content">Main content</div>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/site.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>
	</body>
</html>