<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
	</head>
	<body>
		<div class="mainmenu-wrapper" th:fragment="mainmenu">
			<div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
			        		<li sec:authorize="isAnonymous()" ><a th:href="@{/account/register}">Register</a></li>
			        		<li sec:authorize="isAnonymous()" ><a th:href="@{/account/login}">Login</a></li>
			        		<li sec:authorize="isAuthenticated()">Welcome <a th:href="@{'/user/' + ${session.sessionAccName}}" sec:authentication="name">User name</a></li>
			        		<li sec:authorize="isAuthenticated()"><a th:href="@{/account/logout}" class="logout">Logout</a></li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper">
							<a th:href="@{/}"><img th:src="@{/resources/img/onlineAuction-logo.png}" alt="Online Auction" /></a>
						</li>
						<li class="has-submenu">
							<a href="#">by Category +</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div th:each="category : ${listCate}">
										<h4 th:text="${category.cateName}">Category name</h4>
										<ul>
											<li th:each="categorySub : ${listCateSub}" th:if="${categorySub.category.id == category.id}">
												<a th:href="@{'/auctions/' + ${categorySub.cateSubPath}}" th:text="${categorySub.cateSubName}">CategorySub name</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a th:href="@{/auctions/finished}">Auction finish</a></li>
						<li><a th:href="@{#}">Result</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</body>
</html>