<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
	</head>
	<body>
		<div class="col-sm-2 blog-sidebar" th:fragment="sidebar">
			<img class="avatar" th:src="@{/image/qrcode_1430418548.png}" th:alt="${session.sessionAccName}" />
			<h4 style="text-align: center; text-transform: uppercase;"><a th:href="@{'/user/' + ${session.sessionAccName}}" th:text="${session.sessionAccName}">Account name</a></h4>
			<ul class="blog-categories">
				<li>
					<a th:href="@{#}">Notification</a>
					<span class="badge" style="margin-left: 7px;">0</span>
				</li>
				<li><a th:href="@{#}">Change password</a></li>
				<li><a th:href="@{/item/list}">Item management</a></li>
			</ul>
		</div>
	</body>
</html>