<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
	</head>
	<body>
		<div class="section" th:fragment="content">
			<div class="container">
				<div class="row">
					<div th:replace="layout/home_sidebar :: sidebar">Sidebar</div>
					<div class="col-sm-10">
						<div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${param.success}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<span th:text="${param.success}">Add new Item successfully.</span>
						</div>
						<div class="blog-post blog-single-post">
		        			<h2>Item list</h2>
		        			<a class="btn btn-blue" th:href="@{/item/add-new-item}">Add item</a>
							<table class="jobs-list">
		    					<tr>
		    						<th>Id</th>
		    						<th>Image</th>
		    						<th>Title</th>
		    						<th>Start date</th>
		    						<th>End date</th>
		    						<th>Minimum</th>
		    						<th>Increment</th>
		    						<th>Status</th>
		    						<th></th>
		    					</tr>
		    					<tr th:each="item : ${listItem.content}">
		    						<td th:text="${item.id}">Id</td>
		    						<td><img th:src="@{'/image/' + ${item.itemThumbnail}}" th:alt="${item.itemTitle}" /></td>
		    						<td th:text="${item.itemTitle}">Title</td>
		    						<td th:text="${#calendars.format(item.bidStartDate,'dd/MM/yyyy HH:mm')}">Bid start date</td>
		    						<td th:text="${#calendars.format(item.bidEndDate,'dd/MM/yyyy HH:mm')}">Bid end date</td>
		    						<td th:text="${item.minimumBid}">Minimum Bid</td>
		    						<td th:text="${item.bidIncremenent}">Bid Incremenent</td>
		    						<td th:text="${item.bidStatus}">Bid status</td>
		    						<td style="width: 70px; padding: 0;">
		    							<a class="btn btn-micro" th:href="@{'/item/edit-item/' + ${item.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
		    							<button class="btn btn-micro btn-red btn-delete" th:attr="data-text='Are you sure you want to delete Item ' + ${item.itemTitle} + '?', data-id=${item.id}">
		    								<i class="glyphicon glyphicon-trash"></i>
		    							</button>
		    						</td>
		    					</tr>
		    				</table>
							<div class="pagination-wrapper" th:if="${not #lists.isEmpty(listItem.content)}">
								<ul class="pagination pagination-sm">
									<li th:if="${(listItem.number + 1) == 1}" class="disabled">
										<span aria-hidden="true">&laquo;</span>
									</li>
									<li th:unless="${(listItem.number + 1) == 1}"><a
										th:href="@{/item/list(page=${listItem.number})}"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>
									<li th:each="i : ${#numbers.sequence(1, listItem.totalPages)}"
										th:class="${(listItem.number + 1) == i} ? active"><span
										th:if="${(listItem.number + 1) == i}" th:text="${i}"></span> <a
										th:href="@{/item/list(page=${i})}"
										th:unless="${(listItem.number + 1) == i}" th:text="${i}"></a></li>
									<li th:if="${(listItem.number + 1) == listItem.totalPages}"
										class="disabled"><span aria-hidden="true">&raquo;</span></li>
									<li th:unless="${(listItem.number + 1) == listItem.totalPages}">
										<a
										th:href="@{/item/list(page=${(listItem.number + 1) + 1})}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(".btn-delete").confirm({
					confirm : function(button) {
						var itemId = $(button).data("id");
						$.ajax({
							type: "POST",
							url: "delete",
							data: {itemId : itemId},
							success: function(response) {
								if(response == true) {
									alert("Delete Item successful.");
								} else {
									alert("Delete Item fail.");
								};
							}
						});
					},
					cancel : function(button) {
						return false;
					},
					confirmButton : "Yes",
					cancelButton : "No",
					post : true
				});
			</script>
		</div>
	</body>
</html>