<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body onload='document.f.j_username.focus();'>
		<div class="section" th:fragment="content">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${error}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  		<span aria-hidden="true">&times;</span>
							</button>
							Can't find that email, sorry.
						</div>
						<div class="basic-login">
							<form role="form" id="password-reset-form" th:action="@{/account/password-reset}" th:method="post">
								<div class="form-group">
		        				 	<label for="restore-email"><i class="icon-envelope"></i> <b>Enter Your Email</b></label>
									<input class="form-control" id="restore-email" name="email" type="text" placeholder="Your Email" />
								</div>
								<div class="form-group">
									<button type="submit" class="btn pull-right">Reset Password</button>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>