<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>
		<div class="span10" th:fragment="content">
			<h2 th:text="${action}">Title</h2>
			<form id="add-edit-category-sub" class="form-horizontal" th:action="@{'/admin/add-new-category-sub/' + ${categoryId}}" th:object="${categorySub}" method="post">
				<fieldset>
					<legend></legend>
					<ul th:if="${#fields.hasErrors('*')}">
					  	<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>
					<input type="hidden" class="input-xlarge" id="id" th:field="*{id}" />
					<div th:class="${#fields.hasErrors('cateSubName')} ? 'control-group has-error' : control-group">
						<label class="control-label" for="cateSubName">Category sub name</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="cateSubName" th:field="*{cateSubName}" />
						</div>
					</div>
					<div th:class="${#fields.hasErrors('cateSubPath')} ? 'control-group has-error' : control-group">
						<label class="control-label" for="cateSubName">Category sub path</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="cateSubPath" th:field="*{cateSubPath}" />
						</div>
					</div>
<!-- 					<div th:class="${#fields.hasErrors('cateSubPath')} ? 'control-group has-error' : control-group"> -->
<!-- 						<label class="control-label" for="category">Category</label> -->
<!-- 						<div class="controls"> -->
<!-- 							<select class="form-control" id="category" th:field="*{category}"> -->
<!-- 								<option th:each="cate : ${allCategory}" th:value="${cate.id}" th:text="${cate.cateName}">Category Name</option> -->
<!-- 							</select> -->
<!-- 						</div> -->
<!-- 					</div> -->
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" th:text="${action} == 'Edit Category sub' ? Save : Add">Action</button>
						<button class="btn">Cancel</button>
					</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>