<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>
		<div class="span10" th:fragment="content">
			<h2>Change password</h2>
			<form id="change-password" class="form-horizontal" th:action="@{/admin/change-password}" th:method="post">
				<fieldset>
					<legend></legend>
					<div th:class="${success} ? 'alert alert-success alert-dismissible fade in' : 'alert alert-danger alert-dismissible fade in'" role="alert" th:if="${changePwd}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  		<span aria-hidden="true">&times;</span>
						</button>
						<span th:text="${message}">Message</span>
					</div>
					<div th:class="${errorCurrentPwd} ? 'control-group has-error' : control-group">
						<label class="control-label" for="currentPwd">Current password</label>
						<div class="controls">
							<input type="password" class="input-xlarge" id="currentPwd" name="currentPwd" />
						</div>
					</div>
					<div th:class="${errorNewPwd} ? 'control-group has-error' : control-group">
						<label class="control-label" for="newPwd">New password</label>
						<div class="controls">
							<input type="password" class="input-xlarge" id="newPwd" name="newPwd" />
						</div>
					</div>
					<div th:class="${errorRePwd} ? 'control-group has-error' : control-group">
						<label class="control-label" for="rePwd">Re-enter password</label>
						<div class="controls">
							<input type="password" class="input-xlarge" id="rePwd" name="rePwd" />
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Change</button>
					</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>