<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>
		<div class="span10" th:fragment="content">
			<h2>User list</h2>
			<a class="btn btn-primary" th:href="@{/admin/add-new-user}" style="margin-bottom: 20px;"><i class="fa fa-plus-circle"></i> Add new User</a>
			<table class="table table-bordered table-striped table-user">
				<thead>
					<tr>
						<th style="width: 15px;"><input type="checkbox" /></th>
						<th>User name</th>
						<th>Full name</th>
						<th>Email</th>
						<th>Role</th>
						<th>Status</th>
						<th class="action"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="account : ${listAccount.content}">
						<td><input type="checkbox" /></td>
						<td>
							<a th:href="@{#}" th:text="${account.accountName}">Account name</a>
						</td>
						<td th:text="${account.fullName}">Full name</td>
						<td th:text="${account.email}">Email</td>
						<td th:text="${account.role}">Role</td>
						<td th:text="${account.status}">Status</td>
						<td>
							<a th:href="@{'/admin/edit-user/' + ${account.id}}"><i class="fa fa-pencil-square-o"></i></a>
							<a th:href="@{#}" class="delete-account" th:attr="data-text='Are you sure you want to delete user ' + ${account.accountName} + '?', data-id=${account.id}"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination" th:if="${not #lists.isEmpty(listAccount.content)}">
				<ul>
					<li th:if="${(listAccount.number + 1) == 1}" class="disabled">
						<span aria-hidden="true">&laquo;</span>
					</li>
					<li th:unless="${(listAccount.number + 1) == 1}">
						<a th:href="@{/admin/user-management(page=${listAccount.number})}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:each="i : ${#numbers.sequence(1, listAccount.totalPages)}" th:class="${(listAccount.number + 1) == i} ? active">
						<span th:if="${(listAccount.number + 1) == i}" th:text="${i}"></span>
						<a th:href="@{/admin/user-management(page=${i})}" th:unless="${(listAccount.number + 1) == i}" th:text="${i}"></a>
					</li>
					<li th:if="${(listAccount.number + 1) == listAccount.totalPages}" class="disabled">
						<span aria-hidden="true">&raquo;</span>
					</li>
					<li th:unless="${(listAccount.number + 1) == listAccount.totalPages}">
						<a th:href="@{/admin/user-management(page=${(listAccount.number + 1) + 1})}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
				$(".table-user tr").each(function() {
					var $this = $(this);
					$this.find('.delete-account').confirm({
						confirm : function(button) {
							var accountId = $(button).data("id");
							$.ajax({
								type: "POST",
								url: "delete-user",
								data: {accountId : accountId},
								success: function(response) {
									if(response == true) {
										alert("Delete user successful.");
										$this.remove();
									} else {
										alert("Delete user fail.");
									};
								}
							});
						},
						cancel : function(button) {
							return false;
						},
						confirmButton : "Yes",
						cancelButton : "No",
						post : true
					});
				});
			</script>
		</div>
	</body>
</html>